.amazing {
  width: 85%;
  height: 110px;
  background-color: #ecefef;
  background-image: url(../../svg/background-amazing.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-radius: 20px;
  padding-right: 40px;

  .amazing-right {
    width: 500px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .amazing-right-image-basket {
      padding-left: 20px;
    }
    .amazing-right-image-super {
      width: 265px;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    .amazing-right-discount {
      width: 140px;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding-right: 20px;
      .amazing-right-item {
        width: 110px;
        height: 28px;
        border-radius: 15px;
        background-color: #029a49;
        p {
          font-family: var(--font-family);
          font-size: 13px;
          text-align: center;
          margin: 10px auto;
          line-height: 10px;
          color: whitesmoke;
          font-weight: bold;
        }
      }
    }
  }
  .amazing-left {
    width: 733px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: end;
    padding-left: 20px;
    .amazing-left-item {
      width: 480px;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding-left: 15px;
      padding-top: 10px;
      .amazing-left-item-image {
        width: 100%;
        height: 100%;
        column-gap: 10px;
        display: flex;
        flex-flow: nowrap;
        align-items: center;
       
        padding-left: 10px;
        .contaner-left-img{
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          flex-flow: row wrap;
          padding-top: 10px;
          .supermarket-center-left-items-off-container {
            width: 36px;
            height: 20px;
            padding-left: 4px;
            padding-right: 4px;
            margin-bottom: 15px;
            border-radius: 10px;
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: 0;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-flow: row wrap;
            background-color: #d32f2f;
            font-family: NumberPersian , IranYekan;
            color: #ffffff;
            font-weight: bold;
            font-size: 13px;
          }
          
          img {
          width: 70px;
          height: 70px;
          border: 6px solid #ffffff;
          border-radius: 50%;
        }
        }
        
      }
    }
    .amazing-left-more {
      width: 150px;
      height: 50px;
      border-radius: 25px;
      background-color: #ffffff;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: end;
      .amazing-left-more-p {
        width: 100px;
        height: 26px;
        p {
          font-family: var(--font-family);
          font-size: 13px;
          font-weight: bold;
          color: #029a49;
          text-align: center;
          margin: 10px auto;
          line-height: 10px;
        }
      }
      img {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-left: 10px;
        align-items: center;
      }
    }
  }
}
