.hot{
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
    padding-left: 15px;
    .best-sellers-center {
      width: var(--width-center);
      height: 100%;
      border: 1px solid rgb(232, 227, 227);
      border-radius: 15px;
      padding-right: 10px;
  
      .best-sellers-center-top {
        width: 100%;
        height: 20%;
        display: flex;
        flex-flow: row wrap;
        .best-sellers-center-top-right {
          width: 60%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          column-gap: 10px;
          padding-left: 25px;
          h5 {
            font-family: var(--font-family);
            font-size: 20px;
            font-weight: normal;
          }
        }
        .best-sellers-center-top-left {
          width: 40%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-left: 20px;
          a {
            text-decoration: none;
            font-family: var(--font-family);
            color: #3ebfd3;
            font-weight: bold;
            font-size: 14px;
          }
        }
      }
      .best-sellers-center-bottom {
        width: 100%;
        height: 80%;
        .swiper {
          width: 100%;
          height: 100%;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
        }
  
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          .swiper-slide-item {
            width: 100%;
            height: 100%;
            .swiper-slide-item-first {
              width: 100%;
              height: 33%;
              margin-bottom: 1px;
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              column-gap: 10px;
              img {
                width: 80px;
                height: 80px;
              }
              span {
                font-family: var(--font-number);
                font-size: 30px;
                font-weight: bold;
                color: #19bfd3;
              }
              p {
                width: 50%;
                font-family: var(--font-family);
                color: #3f4064;
                font-size: 12px;
                line-height: 20px;
                text-align: right;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                --webkit-line-clamp: 2;
                overflow: hidden;
              }
            }
          }
        }
  
        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .border-bottom {
    border-bottom: 1px solid #f0f0f1;
    width: 170px;
    padding-bottom: 20px;
  }
  